---
layout: layouts/base.njk
title: Kyle Lyon / Acknowledgements
crumb: Acknowledgements
permalink: /acknowledgements/index.html
---
<article id="post-content">
  <h1>Acknowledgements</h1>
  <ol>
    <li>Visual web design, inspired by Neil Panchal. Explore and support his work at the <a href="https://usgraphics.com/" target="_blank" rel="noopener">U.S. Graphics Company</a>.</li>
  </ol>
</article>
<p class="container">
  <a class="top-2 btn bg-dark-green white hover-white hover-bg-black" href="/">← Back to Home</a>
  </p>


