---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for p in collections.allPosts %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    <lastmod>{{ (p.date) | date('yyyy-MM-dd') }}</lastmod>
  </url>
{% endfor %}
{% for static in ["/","/notes/","/projects/","/studies/","/media/","/site-index/","/acknowledgements/"] %}
  <url><loc>{{ site.url }}{{ static }}</loc></url>
{% endfor %}
</urlset>


